	// 指定クラスの指定メソッド取得
	// http://setohide.blogspot.com/2014/01/jni.html
	jmethodID mid = env->GetStaticMethodID(clazz, utf8_method_name.c_str(), method_args_typedef_string.c_str());
	if (mid == 0) {
		wstring message = wstring(L"型が一致する static メソッドが見つかりません。\n`static String ") + method_name + utf8_to_utf16(method_args_declare_string);
		MessageBox(NULL, message.c_str(), L"java.lang.NoSuchMethodError", NULL);
		return L"";
	}
